@import "lib/bootstrap/bootstrap";

// COMPONENTS
@import "component/sizes";
@import "component/type";
@import "component/btn";
@import "component/form";
@import "component/nav";
@import "component/dropdown";
@import "component/bg";
@import "component/card";
@import "component/footer";
@import "component/cover-hero";
@import "component/feature-blocks";



.link-secondary {
  color: $red;
  font-weight: $font-weight-bold;
}
