.card {
  &--b-orange {
    &:after {
      content: "";
      background: $orange;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $size-1;
    }
  }
}

.card--horizontal {
  .card-img {
    @include media-breakpoint-up(md) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    @include media-breakpoint-down(md) {
      // border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.card--icon {
  .card-img {
    max-width: 150px;
    padding: $size-4;
  }
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}
