.cover-hero {
  position: relative;
  z-index: 2;

  &__hero {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding-top: $size-4;
    padding-bottom: $size-6;
  }

  &__content {
    display: flex;
    min-height: 92vh;
    justify-content: space-between;
    align-items: initial;
    flex-direction: column;

    .cover-hero--small & {
      min-height: 40vh;
    }

    &-title {
      @extend .display-4;
      font-weight: 300;
      // text-transform: uppercase;
      margin-bottom: $size-4;
      color: $white;

      b {
        font-weight: 500;
      }
    }

    &-lead {
      @extend .lead;
      margin-bottom: $size-4;
    }
  }
}
