.form-check {
  padding-left: 0;
}

.form-control {
  border-radius: 0;
  &-xl {
    height: 80px;
    margin-bottom: $size-4;
    font-size: $font-size-xl;

    &.form-control {
      border: 3px solid $gray;
    }
  }
}

.bg--dark {
  .form-control {
    background: $blue-3;
    border-color: $blue-3;
    color: $white !important;

    &:focus {
      background: $blue-2;
      // border-color: $blue-2;
    }

    &::placeholder {
      color: $white;
    }
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 28px;
  height: 28px;
  border: 3px solid $blue-3;
  border-radius: 100%;
  // background: $white;
}

[type="radio"]:checked + label::before {
  content: '';
  // width: 12px;
  // height: 12px;
  background: $red;
  border-color: $red;
  // position: absolute;
  // top: 4px;
  // left: 4px;
  // border-radius: 100%;
  // -webkit-transition: all 0.2s ease;
  // transition: all 0.2s ease;
}
// [type="radio"]:not(:checked) + label:after {
//     opacity: 0;
//     -webkit-transform: scale(0);
//     transform: scale(0);
// }
// [type="radio"]:checked + label:after {
//     opacity: 1;
//     -webkit-transform: scale(1);
//     transform: scale(1);
// }
