.nav-item {
  .nav-link {
    font-weight: $font-weight-bold;
  }

  &.active {
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 5px;
      position: absolute;
      bottom: -$size-1;
      background: $red;
    }
  }
}
