.subtitle {
  font-size: $font-size-sm;
  color: $text-1;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin-bottom: $size-5;
  letter-spacing: 0.16em;
}

.xxlarge {
  font-size: 36px;

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

// .xlarge {
//   font-size: 36px;
//
//   @include media-breakpoint-down(md) {
//     font-size: 24px;
//   }
// }

.large {
  font-size: 22px;
  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
}
