.btn {
  color: $black;
  background: $btn-color;
  height: 67px;
  font-size: 16px;
  padding: 12px 50px;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
}
